<layout name="layout_admin" />
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="index.html">首页</a><span class="crumb-step">&gt;</span><span>新增会议</span></div>
        </div>
        <div class="result-wrap">
            <div class="result-content">
                <form action="{:U('Admin/team/update')}" method="post" id="myform" name="myform" enctype="multipart/form-data">
                    <table class="insert-tab" width="100%">
                        <tbody>
                        <tr>
                            <th width="120">队伍ID:</th>
                            <input name="tid"  value="{$team.tid}" type="hidden">
                            <td>

                                <select name="aid" id="teamId" value="{$acts.pid}">
                                    <volist name="act" id="vo">
                                        <option value="{$team.aid}">{$team.aid}</option>
                                        <option value="{$vo.pid}">{$vo.pid}</option>
                                    </volist>
                                </select>

                            </td>
                        </tr>
                        <tr>
                            <th width="120">队长ID:</th>
                            <td>

                                <select name="cid" id="teamId" value="{$acts.pid}">
                                    <volist name="user" id="vo">
                                        <option value="{$team.cid}">{$team.cid}</option>
                                        <option value="{$vo.pid}">{$vo.pid}</option>
                                    </volist>
                                </select>

                            </td>
                        </tr>
                        <tr>
                            <th width="120">队员ID:</th>
                            <td>

                                <select name="pid" id="teamId" value="{$acts.pid}">
                                    <volist name="user" id="vo">
                                        <option value="{$team.mid}">{$team.mid}</option>
                                        <option value="{$vo.pid}">{$vo.pid}</option>
                                    </volist>
                                </select>

                            </td>
                        </tr>
                        </tr>
                        <th></th>
                        <td>
                            <input class="btn btn-primary btn6 mr10" value="提交" type="submit">
                            <input class="btn btn6" onclick="history.go(-1)" value="返回" type="button">
                        </td>
                        </tr>
                        </tbody></table>
                </form>
            </div>
        </div>

    </div>
    <!--/main-->