<layout name="layout_admin" />
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="index.html">首页</a><span class="crumb-step">&gt;</span><a class="crumb-name" href="allNewses.html">新闻管理</a><span class="crumb-step">&gt;</span><span>新增新闻</span></div>
        </div>
        <div class="result-wrap">
            <div class="result-content">
                <form action="{:U('Admin/news/store')}" method="post" id="myform" name="myform" enctype="multipart/form-data">
                    <table class="insert-tab" width="100%">
                        <tbody>
                                <tr>
                                    <th width="120">所属类型:</th>
                                    <td>
                                        <select name="type" id="select">
                                            <option value="1">NBA</option>
                                            <option value="2">CBA</option>
                                            <option value="3">中超</option>
                                            <option value="4">西甲</option>
                                            <option value="5">英超</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                <th><i class="require-red">*</i>标题：</th>
                                <td>
                                    <input class="common-text required" id="title" name="title" size="50" value="" type="text">
                                </td>
                            </tr>
                            <tr>
                                <th>配图</th>
                                <td><input type="file" name="newpic" /></td>
                            </tr>
                            <tr>
                                <th>内容：</th>
                                <td><textarea name="ncontent" class="common-textarea" id="content" cols="30" style="width: 98%;" rows="10"></textarea></td>
                            </tr>
                            <tr>
                                <th></th>
                                <td>
                                    <input class="btn btn-primary btn6 mr10" value="提交" type="submit">
                                    <input class="btn btn6" onclick="history.go(-1)" value="返回" type="button">
                                </td>
                            </tr>
                        </tbody></table>
                </form>
            </div>
        </div>

    </div>
    <!--/main-->